* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --dark-gray: #202123;
    --main-back: #343541;
    --daker: #050509;
}
body {
    background-color: var(--main-back);
}

/* Main container holding .chatrecords and .chatstarter 
Essentially this is the container that should define 
a. the width, height of the application.
b. height of the application.
c.
*/

#chatroot {
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-auto-rows: auto;
    height: 100vh;
    width: 100%;
    background-color: var(--main-back);
}

/* start chatrecords styles 
Holds all styles of the side navigation */

.chatrecords {
    padding: .5pc;
    background-color: #0f0f0f;
    color: white;
    overflow: scroll;
}

.starterbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5pc;
    background-color: #222;
    border-radius: 8px;
}
.newchat {
    display: flex;
    align-items: center;
    gap: .5pc;

}

.writeicon {
    width: 1pc;
    height: 1pc;
    border-radius: 100%;
}


.newchatimg {
    height: 2pc;
    width: 2pc;
    border-radius: 100%;
}


/* start list of chat styles */
#all_list {
    display: flex;
    flex-flow: column;
    gap: 1pc;
    padding: .5pc;
    margin-bottom: 10pc;
}

.listofchats > li {
    list-style-type: none;
}
.listheader {
    color: #888;
    font-size: small;
    font-weight: bold;
}

/* footer info */

.footerdeta {
    position: fixed;
    top: 83%;
    left: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: .5pc;
    padding: .5pc;
    background: #000;
}


.fooflexer {
    display: flex;
    align-items: center;
    gap: .5pc;
    background-color: #111;
    padding: .5pc;
    border-radius: .8pc;
    font-size: small;
}

.fooflexer:hover {
    background-color: #222;
}


.upgradetitle > .thisuser {
    color: #fff;
}


.upgradeinfo > span {
    display: block;
}


.upgradetitle {
    font-weight: bold;
}

.footexter, .upgradetxt {
    font-size: smaller;
}

.foochatimg {
    height: 1.5pc;
    width: 1.5pc;
    border-radius: 100%;
}

/* END IF - of chatrecords */

/* START of chatstarter styles 
The container holds two main containers
a. versionbox 
b. chathoster

*/

/* First container - a space that runs from top to bottom 
- it contains a button that on onclick shows two versions of the 
application */

.chatstarter {
    display: flex;
    gap: .5pc;
    padding: .5pc;
}

/* start of version box */
.versionbox {
    width: 30%;
    padding: .5pc;
}
.ver_button {
    width: 10pc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1pc;
    height: 2.5pc;
    text-align: center;
    color: #fff;
    font-weight: 800;
    padding: .5pc;
    background-color: #444;
    border-radius: .8pc;
    cursor: default;
}


.ver_button:hover {
    background-color: #555;
}

.verbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1pc;
    padding: .5pc;
    background-color: #222222;
    border-radius: .8pc;
    z-index: 23;
    display: none;
}

/* Use this, when you need the function as hover 
.versionbox:hover .verbox {
    display: block;
}

*/
.verboxtype {
    display: flex;
    align-items: center;
    gap: .5pc;
    width: auto;
    padding: .5pc;
    background-color: #333;
    border-radius: .8pc;
    font-size: smaller;
    color: #fff;
    cursor: pointer;

}

.verboxtype:hover {
    background-color: #444;
}

.vertypeimg {
    width: 1pc;
    height: 1pc;
    border-radius: 100%;
} 

.chatgptvertitle {
    font-weight: bold;
}

.chatverinfo {
    color: #ddd;
}

.innerverboxtype {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15pc;
    padding: .5pc;
}

#upgradeGpt {
    height: 2.5pc;
    width: 100%;
    background-color: rgb(148, 83, 161);
    color: white;
    border: none;
    border-radius: .8pc;
    font-size: large;
}

#upgradeGpt:hover {
    background-color: rgb(120, 64, 131);
}

/* Start MAIN chats hosting page
 Holds the chats input stream area*/

.chathoster {
    display: flex;
    flex-flow: column;  
    justify-content: space-between;
    padding: .5pc;

}

.chathostinner {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.inhoster {
    margin: 5pc auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: .5pc;
    padding: .5pc;
    color: white;
}


.demochatsbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1pc;
}

.demobox {
    border: .1pc solid #666;
    color: white;
    padding: .5pc;
    cursor: pointer;
}


.demobox:hover {
    background-color: #555;

}

.iconhoster {
    height: 2.5pc;
    width: 2.5pc;
    border-radius: 100%;
}

.chatInnerStream {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    gap: 1pc;
    text-align: center;
}

/* chat input stream */


#chatinputter {
    height: 2.5pc;
    width: 100%;
    border-radius: .8pc;
    background-color: transparent;
    outline: none;
    color: #ddd;
    padding: 0 1pc;
}

#chatsubmitter {
    position: relative;
    top: -50%;
    right: -45%;
    height: 2pc;
    width: 2pc;
    background-color: transparent;
    border-color: #666;
    border-radius: .8px;
    color: #fff;
}

.impinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5pc;

}

.impinfocenter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.foohelperbtn {
    position: absolute;
    right: 3%;
    height: 1.2pc;
    width: 1.2pc;
    border-radius: 100%;
    background-color: #555;
    color: #fff;
}

.infotext {
    color: #eee;
    font-size: small;
}